
.background01{
    background-image: url("../images/background/bg-baohanh.jpg");
    filter: blur(0);
}
.affix {
    top: 20%;
    z-index: 9999 !important;
}
div.col-sm-9 div {
    height: 100%;
    font-size: 18px;
}
.gach{
    border-bottom: 1px solid #1b3446 ;
    width: 100%;
    color: #107b5a;
    padding-top: 60px;
}
.cham{
    background-color: #1abc9c;
    margin-left: 20px;
    color: white;
    padding: 5px;
}
#center{
    text-align: center;
    font-weight: bold;
    font-size: medium;
    color: red;
}
.list{
    margin-left: 10px;
    text-indent: -10px;
    width: 100%;
}
#so{
    font-size: 19px;
    margin-left: 40px;
}
#luuy{
    color: #CA1617;
    font-size: 20px;
    margin-left: 30px;
}

#section1 {color: #000000; background-color: #ffffff;}
#section2 {color: #000000; background-color: #ffffff;}
#section3 {color: #000000; background-color: #ffffff;}
#section4 {color: #000000; background-color: #ffffff;}

@media screen and (max-width: 810px) {
    #section1, #section2, #section3, #section4{
        margin-left: 150px;
    }
}
/*Bổ sung*/
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: #1abc9c;
}
#baohanh{
    position: relative;
}
#baohanh nav{
    position: sticky;
    left:0;
    top:10%;
    margin-top: 70px;
}
@media screen and (max-width: 768px) {
    #myScrollspy{
        display: none;
    }
    #section1, #section2, #section3, #section4{
        margin-left: 0;
    }
}