*{
    padding: 0;
    margin: 0;
}
#login-register{
    background-image: url("../images/background/bg-login.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#login-register .row{
    position: absolute;
    top: 20%;
    width: 100%;
}
#login-register .form-content{
    padding: 5px;
    background-color: rgba(105,105,105,0.51);
    border-radius: 5px;
}
#login-register .login-border{
    padding: 40px 40px 30px 40px;
    border-radius: 5px;
    background-color: white;
}
#login-register input[type=email],
#login-register input[type=password],
#login-register input[type=text]
{
    width: 100%;
    margin-bottom: 20px;
    line-height: 25px;
    border: 0;
    border-bottom: 1px dashed #ddd;
    box-shadow: none;
    background:transparent;
    outline: none;
}
#login-register label{
    font-weight: 300;
}
#login-register h4{
    text-align: center;
    /*font-size: 20px;*/
    margin-top: -10px;
}
.border-bottom{
    border-bottom: 1px solid darkgray;
    padding-bottom: 10px;
}
#login-register button{
    background-color: #107b5a;
    color: white;
    padding: 10px 15px;
    border: 0;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 60px;
    margin: 20px;
    font-size: 12px;
}
#login-register button:hover{
    background-color: #1b3446;
    color: #1BBC9B;
}
#login-register .in-line{
    text-align: center;
    display: block;
    position: relative;
    z-index: 2;
    margin-bottom: 15px;
}
#login-register .in-line:before{
    display: block;
    z-index: 1;
    position: absolute;
    width: 100%;
    top:50%;
    border-bottom: 1px solid darkgray;
    content: "";
}
#login-register .in-line span{
    position: relative;
    z-index: 1;
    background-color: white;
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    color: black;
}

#login-register .logo-fb-tw-gg{
    text-align: center;
}
#login-register .logo-fb-tw-gg a i{
    width:35px;
    height:35px;
    line-height:35px;
    text-align:center;
    border-radius: 50%;
    color:#fff;
    margin: 3px;
    font-size: 1.2em;
}
#login-register .facebook{
    background-color: #23527c;
    opacity: .8;
}
#login-register .twitter{
    background-color: #1C9CEA;
    opacity: .8;
}
#login-register .google-plus{
    background-color: #CA1617;
    opacity: .8;
}
#login-register .facebook:hover,
#login-register .twitter:hover,
#login-register .google-plus:hover{
    opacity: 1;
}
#nav1{
    padding: 0;
    background-color: #2D3E50;
}
#logo{
    width: 150px;
    margin-top: -10px;
}
#register .form-content span{
    line-height: 1.7em;
}
@media screen and (max-width: 768px){
    #register{
        width: 100%;
    }
}
