.background01{
 background-image: url(../images/background/question-3692492_1920.jpg);
}
.collapsible {
 background-color: #16a98e;
 color: white;
 cursor: pointer;
 padding: 18px;
 width: 100%;
 border: none;
 text-align: left;
 outline: none;
 font-size: 15px;
}

.kiet-active, .collapsible:hover {
 background-color: #1b3446;
 color: #1abc9c;
}

.collapsible:after {
 font-family: "Glyphicons Halflings";
 content: '\e258';
 color: white;
 font-weight: bold;
 float: right;
 margin-left: 5px;
}

.kiet-active:after {
 content: "\e259";
}

 .content {
 padding: 1px 18px;
 max-height: 0;
 overflow: hidden;
 transition: max-height 0.2s ease-out;
 background-color: #f1f1f1;
}
 .line {
  margin: 50px 0;
 }
 .lined-heading {

  z-index: 2;
  position: relative;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  display: block;
  font-weight: 600;
  line-height: 1.1;
  color: #5e5e5e;
  font-size: 24px;
 }

 h3.lined-heading:before {
  position: absolute;
  top: 50%;
  z-index: 1;
  display: block;
  width: 100%;
  height: 1px;
  border-top: 2px solid #ccc;
  content: "";
 }

 h3.lined-heading span {
  position: relative;
  z-index: 1;
  padding: 0 20px;
  background: #fff;
  display: inline-block;
 }
 /*bổ sung */
 .lined-heading{
  color: #107b5a;
 }