*{
    padding: 0;
    margin: 0;
}
.background01{
    background-image: url("../images/events/bg-giangsinh.jpg");
}
#ev-crm{
    background-color: white;
    padding: 10px 15px 20px 15px;
    border: 1px solid darkgrey;
    font-size: 1.2em;
    position: relative;
}
#ev-crm img{
    width: 70%;
    margin: auto;
    display: block;
}
#ev-crm h2,
#ev-crm h3{
    color: #1BBC9B;
}
.bor{
    width: 100%;
    height: 1px;
    background-color: darkgrey;
    margin-bottom: 20px;
}
.color-red{
    color: red;
}
#ev-crm ul{
    padding-left: 5%;
}
#ev-crm .col-md-12{
    background-color: rgba(16,123,90,0.66);
    padding: 20px;
    border: 2px #107b5a;
    border-style: dashed;
}
#ev-crm .col-md-12 p{
    width: 50%;

}