*{
    padding: 0;
    margin: 0;
}
.background01{
    background-image: url("../images/huongdan/bg-huongdan.jpg");

}

/*mode*/
.mode {
    margin: 50px 0;
}
.mode-heading {
    z-index: 2;
    position: relative;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    display: block;
    font-weight: 600;
    line-height: 1.1;
    color: #107b5a;
    font-size: 24px;
}
h2.mode-heading:before {
    position: absolute;
    top: 50%;
    z-index: 1;
    display: block;
    width: 100%;
    height: 1px;
    border-top: 2px solid #ccc;
    content: "";
}
h2.mode-heading span {
    position: relative;
    z-index: 1;
    padding: 0 20px;
    background: #fff;
    display: inline-block;
}
#kinhnghiem a{
    color: #555555;
}
#kinhnghiem a h3{
    color: #555555;
}
#kinhnghiem a:hover{
    text-decoration: none;
}
#kinhnghiem a:hover h3{
    color: #1abc9c;
}
#huongdan h4{
    color: #555555;
}
#huongdan h2{
    color: #1BBC9B;
}
#huongdan img{
    margin: auto;
    display: block;
}
.title{
    color: #1C9CEA;
}