* {
    padding: 0;
    margin: 0;
}
.background01{
    background-image: url("../images/lienhe/bg5.jpg");
}


#contact{
    background-color: #1e3748;
    color: white;
    padding: 20px 0 28px 0;
    margin-top: 22px;
}
#contact.container-fluid{
    position: relative;
    overflow: hidden;
}
.tittle{
    position: relative;
}
.tittle .tittle-01{
    background-color: #1BBC9B;
    height: 45px;
    width: 150px;
    text-align: center;
    position: absolute;
    top: -20px;
    left: 0;
    z-index: 3;
    transition: all 1s ease;
    cursor: context-menu;
    box-shadow: 0 2px 20px 1px rgba(255,255,255,.5);
}
.tittle .tittle-01 h3{
    line-height: 9px;
    color: #1b3446;
    transition: all 1s ease;
}
.tittle .tittle-01:after{
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    border-top: 45px solid #1BBC9B;
    border-right: 68px solid transparent;
    z-index: 2;
    transition: all 1s ease;
}
#contact.container-fluid:hover .tittle .tittle-01{
    width: 100%;
    background-color: #1b3446;
}
#contact.container-fluid:hover .tittle .tittle-01 h3{
    color: #1BBC9B;
}
#contact.container-fluid:hover .tittle .tittle-01:after{
    border-top: 45px solid #1b3446;
}
#contact.container-fluid:hover #ct-box-1:before{
    border-right: 250px solid #1BBC9B;
    border-top: 200px solid transparent;
}
#contact.container-fluid:hover #ct-box-2:before{
    border-left: 250px solid transparent;
    top: 200px;
}
#contact.container-fluid:hover .ct-box-5,
#aboutUs:hover .ct-box-5
{
    bottom: -30%;
    transition: 2.5s;
    opacity: 0;
}
#diachi-contact:hover #ct-box-6{
    top: 33%;
    overflow: visible;
    opacity: 1;
}



#diachi-contact{
    position: relative;
    z-index: 2;
    padding-top: 20px;
}
#diachi-contact h3{
    color: #1BBC9B;
}
#diachi-contact img{
    transition: all .8s ease;
    width: 80%;
    margin: auto;
    display: block;
}
#diachi-contact img:hover{
    transform: scale(1.07);
    transition: all .8s ease;
}
#contact .col-md-4{
    background-color: #1BBC9B;
    position: relative;
    z-index: 2;
    border-left: 2px solid #1b3446;
}
#form-contact{
    background-color: #1BBC9B;
    color: white;
    position: relative;
    z-index: 2;
    padding-top: 20px;
}
#form-contact h3{
    width: 100%;
    border-bottom: 1px solid #1e3748;
    color: #1e3748;
}
#form-contact input{
    width: 100%;
    color: #222222;
    border: none;
    border-radius: 2px;
    padding: 7px 10px;
    outline: none;
    background-color: rgba(243,243,243,0.85);
}
#form-contact textarea{
    width: 100%;
    height: 150px;
    color: #222222;
    border: none;
    border-radius: 2px;
    padding: 7px 10px;
    background-color: rgba(243,243,243,0.85);
}
#form-contact input:focus,
#form-contact textarea:focus{
    background-color: white;
}
#form-contact button{
    padding: 15px 30px 10px 30px;
    background-color: rgba(37,64,88,0.75);
    margin-top: 20px;
    margin-bottom: 30px;
}
#form-contact button:hover{
    color: #1BBC9B;
    background-color: rgba(37,64,88,0.9);
}
#form-contact button:focus{
    background-color: #254058;
    color: white;
}
#ct-box-1:before{
    content: "";
    position: absolute;
    top: 0;
    right: 33%;
    z-index: 1;
    border-right: 150px solid #1BBC9B;
    border-top: 100px solid transparent;
    transition: all 1s ease;
}
#ct-box-2:before{
    content: "";
    position: absolute;
    top: 100px;
    right: 33%;
    z-index: 1;
    border-left: 150px solid transparent;
    border-top: 1000px solid #1BBC9B;
    transition: all 1s ease;
}
#ct-box-3{
    position: absolute;
    z-index: 1;
    width: 33%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #1BBC9B;
}
.ct-box-4{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    background-color: rgba(30,55,72,0.96);
    box-shadow: 0 -10px 40px -10px rgba(255,255,255,.5);
}
.ct-box-5{
    position: absolute;
    z-index: 2;
    width: 100%;
    box-shadow: 0 0 20px 30px #ffffff;
    left: 0;
    bottom: 170%;
    background: rgba(15,150,112,0.02);
    transform: skewY(-30deg);
    opacity: .7;
}
#ct-box-6{
    position: absolute;
    z-index: 2;
    top: 8%;
    left: 50%;
    color: #1BBC9B;
    font-size: 30px;
    width: 22px;
    height: 21px;
    border-radius: 50%;
    overflow: hidden;
    transition: all .5s ease;
    opacity: 0;
}
#ct-box-6 span{
    border-radius: 50%;
    margin-left: -4.8px;
    margin-top: -3px;
}
.bor-0{
    width: 100%;
    height: 1px;
    background-color: #107b5a;
    margin: 20px 0;
}
/*============================*/
/*aboutUS*/
/*============================*/
#aboutUs {
    position: relative;
    margin-top: 53px;
    overflow: hidden;
}
#aboutUs section{
    padding-bottom: 50px;
    position: relative;
    background-color: #1e3748;
    color: white
}
#aboutUs .tittle{
    margin-bottom: 50px;
}
#aboutUs .tittle-01{
    top: 0 ;
}
#aboutUs:hover .tittle .tittle-01{
    width: 100%;
    background-color: #1b3446;
}
#aboutUs:hover .tittle .tittle-01 h3{
    color: #1BBC9B;
}
#aboutUs:hover .tittle .tittle-01:after{
    border-top: 45px solid #1b3446;
}

#aboutUs .col-md-8 {
    position: relative;
}
#ab {
    position: relative;
    padding-top: 50px;
}
#ab1,#ab2,#ab3,#ab4,#ab5,#ab-cosy {
    border-radius: 50%;
}
#ab1 img,#ab2 img,#ab3 img,#ab4 img,#ab5 img,#ab-cosy img{
    border-radius: 50%;
}
    /*==========================================*/
#ab1,#ab5{
    width: 25%;
    margin-left: 15%;
}
#ab2, #ab4{
    margin-left: 45%;
    width: 30%;
    clear: both;
}
#ab3{
    margin-left: 10%;
    margin-top: 30px;
    width: 35%;
    float: left;
}
#ab1{
    margin-bottom: -80px;
}
#ab5{
    margin-top: -70px;
}
#ab2{
    margin-top: 20px;
    margin-bottom: -25px;
}
#ab img{
    width: 100%;
}
#ab-cosy{
    width: 50%;
    float: left;
}


#ab2:hover, #ab4:hover, #ab1:hover,
#ab3:hover, #ab5:hover {
    transform: scale(1.1);
    transition: .3s;
}

#ab-0 {
    padding: 30px 0 20px 20px;
    overflow: hidden;
    border-left: 1px solid #1BBC9B;
    margin-left: -20px;
}

#ab-0 div.row {
    position: relative;
    width: 80%;
    border-bottom: 2px solid #1BBC9B;
    transition: all .5s ease;
}

#ab-0 h3 {
    color: #1BBC9B;
    margin-top: 10px;
}
#ab-0 h3 span{
    color: #53ffe3;
}
#ab-0 p {
    padding-left: 20px;
    margin-top: -7px;
}
#ab-0 .bor{
    width: 12px;
    height: 12px;
    background-color: #1BBC9B;
    position: absolute;
    bottom: -6px;
    right: 0;
    border-radius: 50%;
}
#ab-0 .hand{
    position: absolute;
    left: 200%;
    top: 40%;
    font-size: 50px;
    color: #1BBC9B;
    transition: all .3s ease;
}
#ab-01, #ab-05 {
    margin-left: 0;
}

#ab-02, #ab-04 {
    margin-left: 10%;
}

#ab-03 {
    margin-left: 20%;
}

@media screen and (max-width: 997px) {
    #aboutUs .col-md-4 {
        display: none;
    }

    #ab-01, #ab-02, #ab-03, #ab-04, #ab-05 {
        margin-left: 0;
    }

    #ab-0 div.row {
        width: 100%;
    }
    #ab-0 .hand{
        display: none;
    }
}
@media screen and (max-width: 768px){
    #diachi-contact h3{
        color: white;
    }
    #ct-box-6{
        display: none;
    }
    #diachi-contact img{
        width: 100%;
    }
    #ct-box-6,.ct-box-5{
        display: none;
    }

}
