*{
    margin:0;
    padding: 0;
}
/*PANASONIC*/
.background01{
    background-image: url("../images/sanpham/pana.jpg");
}
.topPana{
    height: 450px;
    overflow: hidden;
    width: 30%;
    border: none;

}
.topPana :hover{
    background-color: #46b8da;
     color: white;



}
.topPana:hover .buttontopPana{
    background-color: white;
    color: #46b8da;
}
.chuH2{
    font-size:30px ;
    color: #46b8da;
}
.topPana:hover .chuH2{
    color: white;
}

.chuH21{
    font-size:30px ;
    color: #46b8da;
    margin-bottom: 13% ;
}
.topPana:hover .chuH21{
    color: white;
}

/*.topPana:hover . topPanaimg{*/
    /*background-image: url("../images/sanpham/pana_2_new.jpg");*/
    /*background-color: #2aabd2;*/

/*}*/
.buttontopPana{
    border-radius: 30px;
    background-color: #46b8da;
    width: 70%;
    color: white ;

    border: 1px solid;

}

.botPana {
    margin-top: 10px;

}
.botPana1{
    background-image: url("../images/sanpham/map1.jpg");
    background-repeat: repeat-x;

    height: 180px;
    color:black;
    border: none;

}
.buttontopPana1{
    border-radius: 30px;
    background-color: white;
    width: 30%;
    color: black;

    border: 1px solid;
}
.buttonbotPana:hover{
    background-color: #46b8da;
    color: white;
    border: 1px solid #46b8da;
    border-radius:30px ;

}
.buttonbotPana{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius:30px ;
    width: 30%;
}
.botPana2{
    height: 180px;
    border: none;
}
.midPana{
    border: none;
}
