* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    margin: 0;
}
.background01{
    background-image: url("../images/background/bg-samsung.jpg");
    filter: blur(0);
}
.anhnen {
    background-image: url("../images/sanpham/bring-it-home-pcv.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.chunen {
    position: absolute;
    margin: 10%;

}

.buttonSam1 {
    border-radius: 30px;
    background-color: white;
    width: 50%;
    color: black;
    margin-left: 30%;
    border: 1px solid;
    margin-top: 10%;
    margin-bottom: 10%;


}

.btn:hover {
    color: white;
    background: black;
    border-radius: 30px;
}

.Sam2 {
    /*margin-top: 10%;*/
    /*margin-left: 30%;*/
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: center;


}
.Sam3{
    margin: auto 20% auto 20%;
}
.mid{
    margin-top: 30%;
}
.buttonSam4{
    width: 25%;
    margin:auto auto 10% auto;
    background-color: white;
    color: black;
    border: 1px solid;
    border-radius: 30px;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
    outline: none;
}