*{
    padding: 0;
    margin: 0;
}
.background01{
    background-image: url("../images/background/bg-compare.jpg");
    filter: blur(0);
}
#sosanh{
    margin-top: 50px;
}
.select-pr{
    width: 100%;
    height: 37px;
    padding-left: 10%;
    background-color: #107b5a;
    color: white;
    font-size: 18px;
    display: block;
}
select [disabled]{
    color: #1BBC9B;
}

#title-compare{
    width: 100%;
    margin-top: 237px
}
.box{
    width: 100%;
    padding-left: 10%;
    background-color: #1b3446;
    height: 50px;
    line-height: 50px;
    margin-bottom: 2px;
    color: #1abc9c;
}
.anhsp{
    width: 100%;
    height: 200px;
    background-color: #dbdbdb;
}
.anhsp img{
    width: 100%;
    height: 200px;
}
#contentSp1 .box,
#contentSp2 .box{
    color: white;
}
@media screen and (max-width: 1000px) {
    #title-compare{
        display: none;
    }
}