*{
    padding: 0;
    margin: 0;
}
.background01{
    background-image: url("../images/events/bg.jpg");
    filter: blur(0);
}
.event{
    text-decoration: none;
    color: #555555;
}
.col-md-9{
    /*background-color: darkgrey;*/
}
.event:hover,
.event:focus{
    text-decoration: none;
    color: #555555;
}
.event .row{
    padding-top: 10px;
    position: relative;
}
.event img{
    transition: all .5s ease;
}
.title-event{
    position: relative;
    overflow: hidden;
}
.title-event h4{
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 15px;
    background-color: rgba(16,123,90,0.7);
    color: white;
}
.event h3{
    color: #1BBC9B;
}
.event:hover h3{
    color: #107b5a;
}
.event:hover img{
    transform: scale(1.02);
}
.line{
    width: 100%;
    height: 1px;
    background-color: #1b3446;
    clear: both;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
.pagination a.active {
    background-color: #107b5a;
    color: white;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

/* Position text in the middle */
.middle p{
    padding-top: 20px;
}
.middle {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #1BBC9B;
}

/* Style the <hr> element */
hr {
    margin: auto;
    width: 40%;
}

