*{
    padding: 0;
    margin: 0;
}
/*images cover*/
#background{
    background-image: url(../images/thongbao/anhnen3.jpg);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
#hello{
    text-align: center;
    color: white;
    font-size: 4em;
    line-height: 500px;
}
.background01{
    background-image: url("../images/thongbao/anhnen2.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
footer{
    margin-top: 150px;
}
/*line*/
.line {
    margin: 50px 0;
}
.lined-heading-2 {
    z-index: 2;
    position: relative;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    display: block;
    font-weight: 600;
    line-height: 1.1;
    color: #107b5a;
    font-size: 24px;
}
h2.lined-heading-2:before {
    position: absolute;
    top: 50%;
    z-index: 1;
    display: block;
    width: 100%;
    height: 1px;
    border-top: 2px solid #ccc;
    content: "";
}
h2.lined-heading-2 span {
    position: relative;
    z-index: 1;
    padding: 0 20px;
    background: #fff;
    display: inline-block;
}
.hang {
    position: relative;
    overflow: hidden;
}
.new-img-2{
    position: absolute;
    top:0;
    left: 4%;
    z-index: 1;
}
.content-pr {
    height: 200px;
    overflow: hidden;
    width: 100%;

}
.content-pr ul{
    padding-left: 10%;
}
/*.buttonClose {*/
    /*border-radius: 30px;*/
    /*background-color: white;*/
    /*width: 45%;*/
    /*color: black;*/
    /*margin: auto 5% auto 2%;*/
    /*border: 1px solid;*/
    /*outline: none;*/
/*}*/
.nhap button{
    display: block;
    margin: auto;
}
.buttonMuaHang {
    border-radius: 30px;
    background-color: rgba(11, 165, 98, 0.74);
    width: 45%;
    color: #1e3748;
    margin: auto;
    /*border: 1px solid black;*/
}
.diadiem {
    text-align: center;
    color: black;

    margin-top: 2%;
    margin-bottom: 2%;

}