

/*============news*=============*/

.h2-title{
    border-bottom-left-radius: 5px;
    border-style: outset;
    padding: 7px 0 7px 20px;
    margin-top: 0;
}
.h2-title span{
    color: #107b5a;
}
.post-item{
    list-style: none;
    border-bottom: 1px dashed black;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.entry-thumb{
    width: 100%;
    height: 175px;
}
.entry-thumb .img-responsive{
    height: 162px;
}
.images-hover{
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
}
.images-hover:hover{
    box-shadow: 0 0 2px 1px rgba(35,194,159,0.87);
}
.entry-ci{
    color: black;
}
.h3-title{
    color: #1b3446;
    text-decoration: none;
}
.h3-title:hover{
    text-decoration: none;
    color: #138c75;
}
.date{
    margin-bottom: 10px;
}
.gioithieu{
    margin-bottom: 10px;
}
.xemthem{
    width: 200px;
    /*height: 25px;*/
    /*line-height: 25px;*/
    /*text-align: center;*/
    /*border-radius: 10px;*/
    /*color: white;*/
    /*background: rgba(32,53,75,0.65);*/
}
.xemthem button {
    display: inline-block;
    border-radius: 8px;
    background: rgba(32,53,75,0.65);
    border: none;
    color: white;
    font-size: 20px;
    padding: 5px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.xemthem button a {
    color: white;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    text-decoration: none;
}
#columns{
    position: relative;
}
#columns .row .col-md-3{
    position: sticky;
    top: 40px;
    right: 0;
}
#columns .col-md-9 img{
    display: block;
    margin: auto;
}
.block{
     width: 100%;
    border: 1px solid black;
    margin-bottom: 20px;
     /*padding-bottom: 30px;*/
 }
.danhmuc{
    font-size: 18px ;
    list-style: none;
    color: white;
    background: #1c384c;
    text-align: center;
    line-height: 43px;
    border-bottom: 1px solid rgba(32,53,75,0.65);
    width: 100%;
    height: 40px;
    position: inherit;
}

.tree-menu{
    list-style: none;
    color: black;
    width: 100%;
}

.tree-menu li{
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid black;
    width: 90%;
    margin: 5px auto;
    display: block;
}
.tree-menu li a{
    color: #555555;
}
.tree-menu li a:hover{
    text-decoration: none;
    color: rgba(35,194,159,0.87)
}
iframe{
    height: 300px;
}
.block img{

}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
.pagination a.active {
    background-color: rgba(32,53,75,0.65);
    color: white;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
/*=======Baiviet===========*/

.tintuclienquan{
    width: 100%;
    margin-top: 20px;
}
.h4-title{
    border-bottom: 1px solid darkgray;
    border-top: 1px solid darkgray;
}
.tinlq{
    list-style: none;
    color: black;
}
.chuthich{
    width: 66%;
    margin: 0 0 20px 17%;
    padding:5px 0 5px 0;
    text-align: center;
    background: lightgray;
}
.tintuc123{
    border: 1px solid black;
    background: rgba(83,209,255,0.14) ;
}
/*=======end==news===========*/

/*Bổ sung*/
.xemthem button{
    border-radius: 4px;
    font-size: 18px;
    padding: 7px;
    background-color: #107b5a;
}
.xemthem button:hover{
    background-color: #1b3446;
}
@media screen and (max-width: 768px){
    #columns .row .col-md-3{
        position: relative;
        margin-bottom: 25px;
    }
}
.background01{
    background-image: url("../images/background/bg-news.jpg");
    filter: blur(0);
}