*{
    margin: 0;
    padding: 0;
}
.background01{
    filter: blur(0);
    background-image: url("../images/background/bg-toshiba.jpg");
}
.topToshiba{
    background-color: darkslategray;
    color: whitesmoke;
    border: none;
    border-radius: 0px;
    width: 30%;
    margin-left: 2%;


}
.topToshiba h2{
    font-size: 20px;
}
.topToshiba:hover{
    background-color: red;
}
.midToshiba{
    background-image: url("../images/sanpham/bannerToshiba.jpg");
    background-repeat: no-repeat;
    background-position: center;

}
.botToshiba{
    height: 400px;
    overflow: hidden;
    width: 70%;
    /*border: 1px solid black;*/
    position: absolute;
    margin-left: 8%;

    top:75%;
    z-index: 1;
    background-color: rgba(219,219,219,0.53);
}

.midToshiba1{
    position: relative;
    margin-bottom: 20%;
}
.botToshiba1{
    margin-left: 7%;
    margin-top:1%;
}
.botToshiba2{
    height: 100px;
    width: 31%;
    border: 1px solid black;
    margin-left: 1%;

}
.botToshiba3{
    margin-top: 5%;
    width: 30%;
}
.botToshiba4{
    width: 70%;
}

